@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold/Raleway-Bold.eot');
	src: local('☺'), url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold/Raleway-Bold.svg') format('svg');
	font-weight: 600;
	font-style: bold;
}

*, *:before, *:after 
	margin 0
	padding 0
	box-sizing border-box
	outline none


.clearfix:after 
	content ''
	display table
	clear both

