DOCTYPE
	html(lang="ru")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Design & Web Development Sharkz')
			meta(name='keywords' content='development, web, design, seo, sharkz')
			link(href='img/favicon.png'   rel='icon' type='image/png')
			title Sharkz
			link(rel="stylesheet", href="css/normalize.css")
			<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/html5shiv-printshiv.min.js"></script>
				<script src="js/respond.min.js"></script> <![endif]-->
			link(rel="stylesheet", href="css/style.css")
			
			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.4/svg4everybody.legacy.min.js" onload="svg4everybody({})" async=""></script>
			script(type='text/javascript' src="js/script.js")